#divContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 0, 0); */
    height: 47.5rem;

}

#div_Detalle{
    background-color: rgba(0, 0, 0, 0.789);
    height: 45rem;
    width: 90rem;
    border-color: rgba(94, 21, 157, 0.789);
    border-width: 1rem;
    border-style: double;
    border-radius: 2rem;
}

#pokedex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../images/pokedex.png');
    height: 45.4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vh;
    color: #fff;
}